
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Rados Gateway Data Layout &mdash; Ceph Documentation</title>
    
    <link rel="stylesheet" href="../../_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     'dev',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="top" title="Ceph Documentation" href="../../" />
    <link rel="up" title="Ceph Object Gateway" href="../" />
    <link rel="next" title="RGW upgrading to Jewel versions 10.2.0, 10.2.1, 10.2.2 and 10.2.3" href="../upgrade_to_jewel/" />
    <link rel="prev" title="Encryption" href="../encryption/" />
    <script type="text/javascript" src="http://ayni.ceph.com/public/js/ceph.js"></script>

  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex/" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex/" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../upgrade_to_jewel/" title="RGW upgrading to Jewel versions 10.2.0, 10.2.1, 10.2.2 and 10.2.3"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../encryption/" title="Encryption"
             accesskey="P">previous</a> |</li>
        <li><a href="../../">Ceph Documentation</a> &raquo;</li>
          <li><a href="../" accesskey="U">Ceph Object Gateway</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="rados-gateway-data-layout">
<h1>Rados Gateway Data Layout<a class="headerlink" href="#rados-gateway-data-layout" title="Permalink to this headline">¶</a></h1>
<p>Although the source code is the ultimate guide, this document helps
new developers to get up to speed with the implementation details.</p>
<div class="section" id="introduction">
<h2>Introduction<a class="headerlink" href="#introduction" title="Permalink to this headline">¶</a></h2>
<p>Swift offers something called a container, that we use interchangeably with
the term bucket. One may say that RGW&#8217;s buckets implement Swift containers.</p>
<p>This document does not consider how RGW operates on these structures,
e.g. the use of encode() and decode() methods for serialization and so on.</p>
</div>
<div class="section" id="conceptual-view">
<h2>Conceptual View<a class="headerlink" href="#conceptual-view" title="Permalink to this headline">¶</a></h2>
<p>Although RADOS only knows about pools and objects with their xattrs and
omap[1], conceptually RGW organizes its data into three different kinds:
metadata, bucket index, and data.</p>
<div class="section" id="metadata">
<h3>Metadata<a class="headerlink" href="#metadata" title="Permalink to this headline">¶</a></h3>
<p>We have 3 &#8216;sections&#8217; of metadata: &#8216;user&#8217;, &#8216;bucket&#8217;, and &#8216;bucket.instance&#8217;.
You can use the following commands to introspect metadata entries:</p>
<div class="highlight-python"><pre>$ radosgw-admin metadata list
$ radosgw-admin metadata list bucket
$ radosgw-admin metadata list bucket.instance
$ radosgw-admin metadata list user

$ radosgw-admin metadata get bucket:&lt;bucket&gt;
$ radosgw-admin metadata get bucket.instance:&lt;bucket&gt;:&lt;bucket_id&gt;
$ radosgw-admin metadata get user:&lt;user&gt;   # get or set</pre>
</div>
<p>Some variables have been used in above commands, they are:</p>
<ul class="simple">
<li>user: Holds user information</li>
<li>bucket: Holds a mapping between bucket name and bucket instance id</li>
<li>bucket.instance: Holds bucket instance information[2]</li>
</ul>
<p>Every metadata entry is kept on a single rados object.
See below for implementation defails.</p>
<p>Note that the metadata is not indexed. When listing a metadata section we do a
rados pgls operation on the containing pool.</p>
</div>
<div class="section" id="bucket-index">
<h3>Bucket Index<a class="headerlink" href="#bucket-index" title="Permalink to this headline">¶</a></h3>
<p>It&#8217;s a different kind of metadata, and kept separately. The bucket index holds
a key-value map in rados objects. By default it is a single rados object per
bucket, but it is possible since Hammer to shard that map over multiple rados
objects. The map itself is kept in omap, associated with each rados object.
The key of each omap is the name of the objects, and the value holds some basic
metadata of that object &#8211; metadata that shows up when listing the bucket.
Also, each omap holds a header, and we keep some bucket accounting metadata
in that header (number of objects, total size, etc.).</p>
<p>Note that we also hold other information in the bucket index, and it&#8217;s kept in
other key namespaces. We can hold the bucket index log there, and for versioned
objects there is more information that we keep on other keys.</p>
</div>
<div class="section" id="data">
<h3>Data<a class="headerlink" href="#data" title="Permalink to this headline">¶</a></h3>
<p>Objects data is kept in one or more rados objects for each rgw object.</p>
</div>
</div>
<div class="section" id="object-lookup-path">
<h2>Object Lookup Path<a class="headerlink" href="#object-lookup-path" title="Permalink to this headline">¶</a></h2>
<p>When accessing objects, ReST APIs come to RGW with three parameters:
account information (access key in S3 or account name in Swift),
bucket or container name, and object name (or key). At present, RGW only
uses account information to find out the user ID and for access control.
Only the bucket name and object key are used to address the object in a pool.</p>
<p>The user ID in RGW is a string, typically the actual user name from the user
credentials and not a hashed or mapped identifier.</p>
<p>When accessing a user&#8217;s data, the user record is loaded from an object
&#8220;&lt;user_id&gt;&#8221; in pool &#8221;.users.uid&#8221;.</p>
<p>Bucket names are represented directly in the pool &#8221;.rgw&#8221;. Bucket record is
loaded in order to obtain so-called marker, which serves as a bucket ID.</p>
<p>The object is located in pool &#8221;.rgw.buckets&#8221;. Object name is &#8220;&lt;marker&gt;_&lt;key&gt;&#8221;,
for example &#8220;default.7593.4_image.png&#8221;, where the marker is &#8220;default.7593.4&#8221;
and the key is &#8220;image.png&#8221;. Since these concatenated names are not parsed,
only passed down to RADOS, the choice of the separator is not important and
causes no ambiguity. For the same reason, slashes are permitted in object
names (keys).</p>
<p>It is also possible to create multiple data pools and make it so that
different users buckets will be created in different rados pools by default,
thus providing the necessary scaling. The layout and naming of these pools
is controlled by a &#8216;policy&#8217; setting.[3]</p>
<p>An RGW object may consist of several RADOS objects, the first of which
is the head that contains the metadata, such as manifest, ACLs, content type,
ETag, and user-defined metadata. The metadata is stored in xattrs.
The head may also contain up to 512 kilobytes of object data, for efficiency
and atomicity. The manifest describes how each object is laid out in RADOS
objects.</p>
</div>
<div class="section" id="bucket-and-object-listing">
<h2>Bucket and Object Listing<a class="headerlink" href="#bucket-and-object-listing" title="Permalink to this headline">¶</a></h2>
<p>Buckets that belong to a given user are listed in an omap of an object named
&#8220;&lt;user_id&gt;.buckets&#8221; (for example, &#8220;foo.buckets&#8221;) in pool &#8221;.users.uid&#8221;.
These objects are accessed when listing buckets, when updating bucket
contents, and updating and retrieving bucket statistics (e.g. for quota).</p>
<p>See the user-visible, encoded class &#8216;cls_user_bucket_entry&#8217; and its
nested class &#8216;cls_user_bucket&#8217; for the values of these omap entires.</p>
<p>These listings are kept consistent with buckets in pool &#8221;.rgw&#8221;.</p>
<p>Objects that belong to a given bucket are listed in a bucket index,
as discussed in sub-section &#8216;Bucket Index&#8217; above. The default naming
for index objects is &#8221;.dir.&lt;marker&gt;&#8221; in pool &#8221;.rgw.buckets.index&#8221;.</p>
</div>
<div class="section" id="footnotes">
<h2>Footnotes<a class="headerlink" href="#footnotes" title="Permalink to this headline">¶</a></h2>
<p>[1] Omap is a key-value store, associated with an object, in a way similar
to how Extended Attributes associate with a POSIX file. An object&#8217;s omap
is not physically located in the object&#8217;s storage, but its precise
implementation is invisible and immaterial to RADOS Gateway.
In Hammer, one LevelDB is used to store omap in each OSD.</p>
<p>[2] Before the Dumpling release, the &#8216;bucket.instance&#8217; metadata did not
exist and the &#8216;bucket&#8217; metadata contained its information. It is possible
to encounter such buckets in old installations.</p>
<p>[3] In Infernalis, a pending commit exists that removes the need of prefixing
all the rgw system pools with a period, and also renames all of these pools.
See Github pull request #4944 &#8220;rgw noperiod&#8221;.</p>
</div>
<div class="section" id="appendix-compendum">
<h2>Appendix: Compendum<a class="headerlink" href="#appendix-compendum" title="Permalink to this headline">¶</a></h2>
<p>Known pools:</p>
<dl class="docutils">
<dt>.rgw.root</dt>
<dd>Unspecified region, zone, and global information records, one per object.</dd>
<dt>.rgw.control</dt>
<dd>notify.&lt;N&gt;</dd>
<dt>.rgw</dt>
<dd><p class="first">&lt;bucket&gt;
.bucket.meta.&lt;bucket&gt;:&lt;marker&gt;   # see put_bucket_instance_info()</p>
<p>The tenant is used to disambiguate buckets, but not bucket instances.
Example:</p>
<p class="last">.bucket.meta.prodtx:test%25star:default.84099.6
.bucket.meta.testcont:default.4126.1
.bucket.meta.prodtx:testcont:default.84099.4
prodtx/testcont
prodtx/test%25star
testcont</p>
</dd>
<dt>.rgw.gc</dt>
<dd>gc.&lt;N&gt;</dd>
<dt>.users.uid</dt>
<dd><p class="first">Contains _both_ per-user information (RGWUserInfo) in &#8220;&lt;user&gt;&#8221; objects
and per-user lists of buckets in omaps of &#8220;&lt;user&gt;.buckets&#8221; objects.
The &#8220;&lt;user&gt;&#8221; may contain the tenant if non-empty, for example:</p>
<p class="last">prodtx$prodt
test2.buckets
prodtx$prodt.buckets
test2</p>
</dd>
<dt>.users.email</dt>
<dd>Unimportant</dd>
<dt>.users</dt>
<dd>47UA98JSTJZ9YAN3OS3O
It&#8217;s unclear why user ID is not used to name objects in this pool.</dd>
<dt>.users.swift</dt>
<dd>test:tester</dd>
<dt>.rgw.buckets.index</dt>
<dd>Objects are named &#8221;.dir.&lt;marker&gt;&#8221;, each contains a bucket index.
If the index is sharded, each shard appends the shard index after
the marker.</dd>
<dt>.rgw.buckets</dt>
<dd>default.7593.4__shadow_.488urDFerTYXavx4yAd-Op8mxehnvTI_1
&lt;marker&gt;_&lt;key&gt;</dd>
</dl>
<p>An example of a marker would be &#8220;default.16004.1&#8221; or &#8220;default.7593.4&#8221;.
The current format is &#8220;&lt;zone&gt;.&lt;instance_id&gt;.&lt;bucket_id&gt;&#8221;. But once
generated, a marker is not parsed again, so its format may change
freely in the future.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../">
              <img class="logo" src="../../_static/logo.png" alt="Logo"/>
            </a></p>
<h3><a href="../../">Table Of Contents</a></h3>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../start/intro/">Intro to Ceph</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../start/">Installation (Quick)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../install/">Installation (Manual)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../rados/">Ceph Storage Cluster</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cephfs/">Ceph Filesystem</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../rbd/rbd/">Ceph Block Device</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../">Ceph Object Gateway</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../install/install-ceph-gateway/">Manual Install w/Civetweb</a></li>
<li class="toctree-l2"><a class="reference internal" href="../config-fcgi/">Simple Configuration w/Apache/FastCGI</a></li>
<li class="toctree-l2"><a class="reference internal" href="../federated-config/">Federated Configuration (Deprecated)</a></li>
<li class="toctree-l2"><a class="reference internal" href="../multisite/">Multisite Configuration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../config-ref/">Config Reference</a></li>
<li class="toctree-l2"><a class="reference internal" href="../admin/">Admin Guide</a></li>
<li class="toctree-l2"><a class="reference internal" href="../s3/">S3 API</a></li>
<li class="toctree-l2"><a class="reference internal" href="../swift/">Swift API</a></li>
<li class="toctree-l2"><a class="reference internal" href="../adminops/">Admin Ops API</a></li>
<li class="toctree-l2"><a class="reference internal" href="../api/">Python binding</a></li>
<li class="toctree-l2"><a class="reference internal" href="../keystone/">OpenStack Keystone Integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../barbican/">OpenStack Barbican Integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../multitenancy/">Multi-tenancy</a></li>
<li class="toctree-l2"><a class="reference internal" href="../compression/">Compression</a></li>
<li class="toctree-l2"><a class="reference internal" href="../encryption/">Server-Side Encryption</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="">Data Layout in RADOS</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#introduction">Introduction</a></li>
<li class="toctree-l3"><a class="reference internal" href="#conceptual-view">Conceptual View</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#metadata">Metadata</a></li>
<li class="toctree-l4"><a class="reference internal" href="#bucket-index">Bucket Index</a></li>
<li class="toctree-l4"><a class="reference internal" href="#data">Data</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#object-lookup-path">Object Lookup Path</a></li>
<li class="toctree-l3"><a class="reference internal" href="#bucket-and-object-listing">Bucket and Object Listing</a></li>
<li class="toctree-l3"><a class="reference internal" href="#footnotes">Footnotes</a></li>
<li class="toctree-l3"><a class="reference internal" href="#appendix-compendum">Appendix: Compendum</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../upgrade_to_jewel/">Upgrade to Older Versions of Jewel</a></li>
<li class="toctree-l2"><a class="reference internal" href="../troubleshooting/">Troubleshooting</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../man/8/radosgw/">Manpage radosgw</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../man/8/radosgw-admin/">Manpage radosgw-admin</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../mgr/">Ceph Manager Daemon</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../api/">API Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../architecture/">Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../dev/">Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../release-notes/">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../releases/">Ceph Releases</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../glossary/">Glossary</a></li>
</ul>


<!-- ugly kludge to make genindex look like it's part of the toc -->
<ul style="margin-top: -10px"><li class="toctree-l1"><a class="reference internal" href="../../genindex/">Index</a></li></ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search/" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex/" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../py-modindex/" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../upgrade_to_jewel/" title="RGW upgrading to Jewel versions 10.2.0, 10.2.1, 10.2.2 and 10.2.3"
             >next</a> |</li>
        <li class="right" >
          <a href="../encryption/" title="Encryption"
             >previous</a> |</li>
        <li><a href="../../">Ceph Documentation</a> &raquo;</li>
          <li><a href="../" >Ceph Object Gateway</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2016, Red Hat, Inc, and contributors. Licensed under Creative Commons BY-SA.
    </div>
  </body>
</html>